.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .home-center-content{
    text-align: center;
  }

  footer{
    padding: 10px 0;
    background-color: #343A40;
    color: white;
    bottom: 0;
    width: 100%;
  }